:root {
    --CUIBackgroundLight: #2a62d1 !important; /* selection Highlight Colors*/
    --CUIBackgroundRegular: #2a62d1 !important; /* Button Colors*/
    --CUIBackgroundDark: #11036e !important; /* Background and menu colors */
    --CUIBorderLight: #c4c3ca !important;
    --CUIBorderDark: #070342 !important;
    --CUIAccent: #ebdf75 !important; /*CUIAccent Colors*/

    --CUIFontColor: lime !important
}

.footer_BasicFooter_3T1iF{
    background: var(--CUIBackgroundRegular);
    color: var(--CUIFontColor) !important;
}

.friendStatusHover.gpfocuswithin {
    background: var(--CUIBackgroundLight) !important;
    color: var(--CUIFontColor) !important;
}

.groupHeaderContainer.Panel.Focusable.gpfocuswithin {
    background: var(--CUIBackgroundLight) !important;
    color: var(--CUIFontColor) !important;
}

.SortByRecent.Panel.Focusable{
    background: var(--CUIBackgroundLight) !important;
    color: var(--CUIFontColor) !important;
}

.SVGIcon_Button.SVGIcon_SortBy{
    stroke: var(--CUIFontColor);
}
.favoriteElement.gpfocuswithin{
    background: var(--CUIBackgroundLight) !important;
    color: var(--CUIFontColor);
}

.header_Header_1E_SL::before{
    background: var(--CUIBackgroundRegular);
    color: var(--CUIFontColor);
}

input.searchbar_SearchBox_2a1-s.searchbar_Visible_1bLfc.Focusable::placeholder {
    color: var(--CUIFontColor);
}

/* Pop-up Menus */




