
.deckyStoreCard{
    background-color: var(--CUIBackgroundDark);
}

.deckyStoreCard .deckyStoreCardHeader .quickaccessmenu_Text_2B2VB{
    color: var(--CUIFontColor)
}

.deckyStoreCardInfo{
    color: var(--CUIFontColor)
}

div.deckyStoreCardVersionDropdownContainer > button, div.deckyStoreCardInstallButtonContainer > button{
    background-color: var(--CUIDeckyStoreButtonBackgroundColor) !important;
    color: var(--CUIFontColor) !important;
}

div.deckyStoreCardVersionDropdownContainer > button.gpfocuswithin, div.deckyStoreCardInstallButtonContainer > button.gpfocuswithin{
    background-color: var(--CUIBackgroundRegular) !important;
    color: var(--CUIFontColor) !important;
}