:root{
    --CUILockScreenBackgroundColor:  var(--CUIInjectedColorLockScreenBackgroundColor);
    --CUILockScreenContBackgroundColor:  var(--CUIInjectedColorLockContScreenBackgroundColor);
    --CUILockScreenFontColor: var(--CUIInjectedColorLockScreenFontColor);
    --CUILockScreenButtonIconColor: var(--CUIInjectedColorLockScreenButtonIconColor);

    /* LockScreen Indicator Colors */
    --CUIBubbleIndicatorUnfilledStrokeColor: var(--CUILockScreenFontColor);
    --CUIBubbleIndicatorUnfilledBackColor: var(--CUILockScreenBackgroundColor);
    --CUIBubbleIndicatorFilledStrokeColor: var(--CUILockScreenFontColor);
    --CUIBubbleIndicatorFilledBackColor: var(--CUILockScreenFontColor);
    --CUIBubbleIndicatorContBackColor: var(--CUIInjectedColorBubbleIndicatorContBackColor, transparent);
}

.lockscreen_DigitIndicator_3eHNj{
    border-color: var(--CUIBubbleIndicatorUnfilledStrokeColor);
    background: var(--CUIBubbleIndicatorUnfilledBackColor);
}

.lockscreen_DigitIndicator_3eHNj.lockscreen_Filled_i68Yl {
    border-color: var(--CUIBubbleIndicatorFilledStrokeColor);
    background: var(--CUIBubbleIndicatorFilledBackColor);
}

.lockscreen_NumericButtonInput_2wl_h {
    background-color: var(--CUILockScreenBackgroundColor);
}

.lockscreen_NumericButtonOption_2c4Hz{
    color: var(--CUIInjectedColorLockScreenFontColor);
}

.lockscreen_Indicators_3fJq6 {
    background-color: var(--CUIBubbleIndicatorContBackColor);
}

.lockscreen_NumericButtonOption_2c4Hz > svg > path {
    fill: var(--CUILockScreenButtonIconColor);
}

.lockscreen_Container_3rFFU {
    background-color: var(--CUILockScreenContBackgroundColor) !important;
}

.lockscreen_Prompt_3aUT8{
    color: var(--CUIInjectedColorLockScreenFontColor) !important;
}

/* Accent Color*/
.lockscreen_Directions_vNjDQ{
    color: var(--CUIInjectedColorLockScreenFontColor) !important;
}