.lockscreen_NumericButtonInput_2wl_h {
    position: relative;
    top: 6px;
    padding: 10px 18px 18px 18px;
    margin-bottom: -236px;
    border-radius: 24px 0 0 0;
    gap: 0px !important;
}

.lockscreen_Indicators_3fJq6 {
    padding: 0px 37.75px 33px 37.75px;
    margin-bottom: -232px;
    position: relative;
    top: 5px;
}

.lockscreen_NumericButtonOption_2c4Hz {
    padding: 0 22px;
    font-weight: 600;
}

.lockscreen_NumericButtonOption_2c4Hz > img {
    display: none;
}

.lockscreen_NumericButtonOption_2c4Hz::after {
    display: none;
}

