.lockscreen_NumericButtonInput_2wl_h {
    position: relative;
    top: 12px;
    padding: 6px 8px 0px 6px;
    margin-bottom: -232px;
    border-radius: 24px 0 0 0;
    gap: 0px !important;
}

.lockscreen_Indicators_3fJq6 {
    padding: 20px 42.5px 23px 42.5px;
    margin-bottom: -232px;
    position: relative;
    top: 6px;
}

.lockscreen_NumericButtonOption_2c4Hz {
    padding: 0 10px;
    font-weight: 600 !important;
}