:root{
    /* LockScreen Indicator Colors */
    --MLSBubbleIndicatorUnfilledStrokeColor: var(--MLSFontColor);
    --MLSBubbleIndicatorUnfilledBackColor: var(--MLSBackgroundColor);
    --MLSBubbleIndicatorFilledStrokeColor: var(--MLSFontColor);
    --MLSBubbleIndicatorFilledBackColor: var(--MLSFontColor);
    
    /* Background Color (Should be set by Supplemeentary CSS Files)
    --MLSBackgroundColor: gray;
    --MLSFontColor: #FFFFFF;
    --MLSButtonIconColor: #FFFFFF;
    */
    --MLSBorderRadius: 24px 0 0 0;
}

.lockscreen_DigitIndicator_3eHNj{
    border-color: var(--MLSBubbleIndicatorUnfilledStrokeColor);
    background: var(--MLSBubbleIndicatorUnfilledBackColor);
}

.lockscreen_DigitIndicator_3eHNj.lockscreen_Filled_i68Yl {
    border-color: var(--MLSBubbleIndicatorFilledStrokeColor);
    background: var(--MLSBubbleIndicatorFilledBackColor);
}

.lockscreen_Details_aLaNw > div {
    display: none;
}

.lockscreen_DetailsGroup_1Ewy7 {
    display: none !important;
}

.lockscreen_Container_3rFFU {
    flex-direction: column-reverse;
    align-items: flex-end;
}

.lockscreen_NumericButtonInput_2wl_h {
    background-color: var(--MLSBackgroundColor) !important;
    position: absolute;
    bottom: 45px;
    padding: 10px 18px 18px 18px;
    border-radius: var(--MLSBorderRadius);
    gap: 0px !important;
}


.lockscreen_NumericButtonOption_2c4Hz{
    color: var(--MLSFontColor);
}

.lockscreen_Indicators_3fJq6 {
    background-color: var(--MLSBackgroundColor) !important;
    position: absolute;
    bottom: 0;
    right: 0;
}
/*
.lockscreen_NumericButtonOption_2c4Hz > svg > path {
    fill: var(--MLSButtonIconColor);
}
*/
