.lockscreen_Indicators_3fJq6 {
    padding: 10px 37.75px 23px 37.75px;
}

.lockscreen_NumericButtonOption_2c4Hz {
    padding: 0 22px;
    font-weight: 600;
}

.lockscreen_NumericButtonOption_2c4Hz > img {
    display: none;
}
