:root {
	--main-color: linear-gradient(113deg, #2E1EC6, #1f7096 , #1A73D8, #f22828);
    --friends-text-color: white !important;
    --static-color: magenta !important;
    --animation: gradient 20s ease infinite forwards !important;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
      background-size: 300% 300%;
    }
    50% {
      background-position: 100% 50%;
      background-size: 300% 300%;
    }
    100% {
      background-position: 0% 50%;
      background-size: 300% 300%;
    }
  }