
/* Steam UI Replacements*/

img[src="/steaminputglyphs/shared_button_a.svg"]{
    content: var(--ICPAButtonImage, url("/steaminputglyphs/shared_button_a.svg"));
}

img[src="/steaminputglyphs/shared_button_b.svg"]{
    content: var(--ICPBButtonImage, url("/steaminputglyphs/shared_button_b.svg"));
}

img[src="/steaminputglyphs/shared_button_x.svg"]{
    content: var(--ICPXButtonImage, url("/steaminputglyphs/shared_button_x.svg"));
}

img[src="/steaminputglyphs/shared_button_y.svg"]{
    content: var(--ICPYButtonImage, url("/steaminputglyphs/shared_button_y.svg"));
}

img[src="/steaminputglyphs/sd_button_menu.svg"]{
    content: var(--ICPMenuButtonImage, url("/steaminputglyphs/sd_button_menu.svg"));
}

img[src="/steaminputglyphs/sd_button_view.svg"]{
    content: var(--ICPViewButtonImage, url("/steaminputglyphs/sd_button_view.svg"));
}

img[src="/steaminputglyphs/sd_l1.svg"]{
    content: var(--ICPL1ButtonImage, url("/steaminputglyphs/sd_l1.svg"));
}

img[src="/steaminputglyphs/sd_l2.svg"]{
    content: var(--ICPL2ButtonImage, url("/steaminputglyphs/sd_l2.svg"));
}

img[src="/steaminputglyphs/shared_l3.svg"]{
    content: var(--ICPL3ButtonImage, url("/steaminputglyphs/shared_l3.svg"));
}

img[src="/steaminputglyphs/sd_r1.svg"]{
    content: var(--ICPR1ButtonImage, url("/steaminputglyphs/sd_r1.svg"));
}
img[src="/steaminputglyphs/sd_r2.svg"]{
    content: var(--ICPR2ButtonImage, url("/steaminputglyphs/sd_r2.svg"));
}
img[src="/steaminputglyphs/shared_r3.svg"]{
    content: var(--ICPR3ButtonImage, url("/steaminputglyphs/shared_r3.svg"));
}

img[src="/steaminputglyphs/shared_dpad.svg"]{
    content: var(--ICPDpadNoDirectionButtonImage, url("/steaminputglyphs/shared_dpad.svg"));
}

img[src="/steaminputglyphs/shared_dpad_up.svg"]{
    content: var(--ICPDpadUpButtonImage, url("/steaminputglyphs/shared_dpad_up.svg"));
}
img[src="/steaminputglyphs/shared_dpad_right.svg"]{
    content: var(--ICPDpadRightButtonImage, url("/steaminputglyphs/shared_dpad_right.svg"));
}
img[src="/steaminputglyphs/shared_dpad_left.svg"]{
    content: var(--ICPDpadLeftButtonImage, url("/steaminputglyphs/shared_dpad_left.svg"));
}
img[src="/steaminputglyphs/shared_dpad_down.svg"]{
    content: var(--ICPDpadDownButtonImage, url("/steaminputglyphs/shared_dpad_down.svg"));
}


img[src="/steaminputglyphs/shared_rstick.svg"]{
    content: var(--ICPRightStickNoDirectionButtonImage, url("/steaminputglyphs/shared_rstick.svg"));
}
img[src="/steaminputglyphs/shared_rstick_up.svg"]{
    content: var(--ICPRightStickUpButtonImage, url("/steaminputglyphs/shared_rstick_up.svg"));
}
img[src="/steaminputglyphs/shared_rstick_down.svg"]{
    content: var(--ICPRightStickDownButtonImage, url("/steaminputglyphs/shared_rstick_down.svg"));
}
img[src="/steaminputglyphs/shared_rstick_left.svg"]{
    content: var(--ICPRightStickLeftButtonImage, url("/steaminputglyphs/shared_rstick_left.svg"));
}
img[src="/steaminputglyphs/shared_rstick_right.svg"]{
    content: var(--ICPRightStickRightButtonImage, url("/steaminputglyphs/shared_rstick_right.svg"));
}

img[src="/steaminputglyphs/shared_lstick.svg"]{
    content: var(--ICPLeftStickNoDirectionButtonImage, url("/steaminputglyphs/shared_lstick.svg"));
}
img[src="/steaminputglyphs/shared_lstick_up.svg"]{
    content: var(--ICPLeftStickUpButtonImage, url("/steaminputglyphs/shared_lstick_up.svg"));
}
img[src="/steaminputglyphs/shared_lstick_down.svg"]{
    content: var(--ICPLeftStickDownButtonImage, url("/steaminputglyphs/shared_lstick_down.svg"));
}
img[src="/steaminputglyphs/shared_lstick_left.svg"]{
    content: var(--ICPLeftStickLeftButtonImage, url("/steaminputglyphs/shared_lstick_left.svg"));
}
img[src="/steaminputglyphs/shared_lstick_right.svg"]{
    content: var(--ICPLeftStickRightButtonImage, url("/steaminputglyphs/shared_lstick_right.svg"));
}


/* Steam Control Glyphs*/
img[src="/steaminputglyphs/shared_gyro.svg"]{
    content: var(--ICPGyroButtonImage, url("/steaminputglyphs/shared_gyro.svg"));
}
img[src="/steaminputglyphs/sd_r2_half.svg"]{
    content: var(--ICPR2SoftPullButtonImage, url("/steaminputglyphs/sd_r2_half.svg"));
}

img[src="/steaminputglyphs/sd_l2_half.svg"]{
    content: var(--ICPL2SoftPullButtonImage, url("/steaminputglyphs/sd_l2_half.svg"));
}

img[src="/steaminputglyphs/shared_rstick_touch.svg"]{
    content: var(--ICPR3TouchButtonImage, url("/steaminputglyphs/shared_rstick_touch.svg"));
}

img[src="/steaminputglyphs/shared_lstick_touch.svg"]{
    content: var(--ICPL3TouchButtonImage, url("/steaminputglyphs/shared_lstick_touch.svg"));
}

/* maybe Add More Trackpad Icons if people ask for them. For now its touch click and dpad*/
img[src="/steaminputglyphs/sd_ltrackpad_up.svg"]{
    content: var(--ICPLeftTrackpadUpButtonImage, url("/steaminputglyphs/sd_ltrackpad_up.svg"));
}
img[src="/steaminputglyphs/sd_ltrackpad_down.svg"]{
    content: var(--ICPLeftTrackpadDownButtonImage, url("/steaminputglyphs/sd_ltrackpad_down.svg"));
}
img[src="/steaminputglyphs/sd_ltrackpad_left.svg"]{
    content: var(--ICPLeftTrackpadLeftButtonImage, url("/steaminputglyphs/sd_ltrackpad_left.svg"));
}
img[src="/steaminputglyphs/sd_ltrackpad_right.svg"]{
    content: var(--ICPLeftTrackpadRightButtonImage, url("/steaminputglyphs/sd_ltrackpad_right.svg"));
}
img[src="/steaminputglyphs/sd_ltrackpad_click.svg"]{
    content: var(--ICPLeftTrackpadClickButtonImage, url("/steaminputglyphs/sd_ltrackpad_click.svg"));
}
img[src="/steaminputglyphs/sd_ltrackpad_ring.svg"]{
    content: var(--ICPLeftTrackpadTouchButtonImage, url("/steaminputglyphs/sd_ltrackpad_ring.svg"));
}
img[src="/steaminputglyphs/sd_ltrackpad_swipe.svg"]{
    content: var(--ICPLeftTrackpadSwipeButtonImage, url("/steaminputglyphs/sd_ltrackpad_swipe.svg"));
}

img[src="/steaminputglyphs/sd_rtrackpad_up.svg"]{
    content: var(--ICPRightTrackpadUpButtonImage, url("/steaminputglyphs/sd_rtrackpad_up.svg"));
}
img[src="/steaminputglyphs/sd_rtrackpad_down.svg"]{
    content: var(--ICPRightTrackpadDownButtonImage, url("/steaminputglyphs/sd_rtrackpad_down.svg"));
}
img[src="/steaminputglyphs/sd_rtrackpad_left.svg"]{
    content: var(--ICPRightTrackpadLeftButtonImage, url("/steaminputglyphs/sd_rtrackpad_left.svg"));
}
img[src="/steaminputglyphs/sd_rtrackpad_right.svg"]{
    content: var(--ICPRightTrackpadRightButtonImage, url("/steaminputglyphs/sd_rtrackpad_right.svg"));
}
img[src="/steaminputglyphs/sd_rtrackpad_click.svg"]{
    content: var(--ICPRightTrackpadClickButtonImage, url("/steaminputglyphs/sd_rtrackpad_click.svg"));
}
img[src="/steaminputglyphs/sd_rtrackpad_ring.svg"]{
    content: var(--ICPRightTrackpadTouchButtonImage, url("/steaminputglyphs/sd_rtrackpad_ring.svg"));
}
img[src="/steaminputglyphs/sd_rtrackpad_swipe.svg"]{
    content: var(--ICPRightTrackpadSwipeButtonImage, url("/steaminputglyphs/sd_rtrackpad_swipe.svg"));
}

/* Back Paddles*/

img[src="/steaminputglyphs/sd_l4.svg"]{
    content: var(--ICPL4ButtonImage, url("/steaminputglyphs/sd_l4.svg"));
}
img[src="/steaminputglyphs/sd_l5.svg"]{
    content: var(--ICPL5ButtonImage, url("/steaminputglyphs/sd_l5.svg"));
}

img[src="/steaminputglyphs/sd_r4.svg"]{
    content: var(--ICPR4ButtonImage, url("/steaminputglyphs/sd_r4.svg"));
}
img[src="/steaminputglyphs/sd_r5.svg"]{
    content: var(--ICPR5ButtonImage, url("/steaminputglyphs/sd_r5.svg"));
}


/*Lock Screen Icons*/

/* 1 - Dpad Up*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(1) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(1)::after {
    content: "";
    background-image: var(--ICPDpadUpButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

/* 2 - Dpad Left*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(2) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(2)::after {
    content: "";
    background-image: var(--ICPDpadLeftButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

/* 3 - Dpad Down*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(3) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(3)::after {
    content: "";
    background-image: var(--ICPDpadDownButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

/* 4 - Dpad Down*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(4) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(4)::after {
    content: "";
    background-image: var(--ICPDpadRightButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

/* 5 - L2*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(5) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(5)::after {
    content: "";
    background-image: var(--ICPL2ButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

/* 6 - R2*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(6) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(6)::after {
    content: "";
    background-image: var(--ICPR2ButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

/* 7 - L1*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(7) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(7)::after {
    content: "";
    background-image: var(--ICPL1ButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

/* 8 - R1*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(8) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(8)::after {
    content: "";
    background-image: var(--ICPR1ButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}


/* 9 - Y*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(9) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(9)::after {
    content: "";
    background-image: var(--ICPYButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

/* 0 - X*/
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(10) > svg{
    display: none;
}
.lockscreen_NumericButtonOption_2c4Hz:nth-of-type(10)::after {
    content: "";
    background-image: var(--ICPXButtonImage);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}


/************************************************** SVG Types *******************************************************************/



/* Steam UI Button */

svg[viewBox="0 0 100 36"]{
    display: var(--ICPQAMSteamButtonDisplay);
}
.footer_BasicFooter_3T1iF .footer_FooterLegend_2JJDH .footer_Item_wesFG:nth-of-type(1) .actionbuttonlegenditem_ActionButtonLegend_Mbyhb::before {
    content: "";
    background-image: var(--ICPSteamButtonImage);
    background-size: 61px 22px;
    width: 61px;
    height: 22px;
    display: var(--ICPQAMCustomSteamButtonDisplay);
}
.controllerconfiguratorsummary_InputGlyph_3Fz8o.controllerconfiguratorsummary_ChordControlBinding_2-B4w::before {
    content: "";
    background-image: var(--ICPSteamButtonImage);
    background-size: 44px 16px;
    width: 44px;
    height: 16px;
    display: var(--ICPQAMCustomSteamButtonDisplay);
}

/* Quick Access Menu Icons */
.quickaccessmenu_TabContentColumn_2z5NL .quickaccessmenu_Tab_1S76C > svg{
    display: var(--ICPQAMCollumnIconsDisplay);
}


.quickaccessmenu_TabContentColumn_2z5NL .quickaccessmenu_Tab_1S76C:nth-of-type(1)::before{
    content: "";
    background-image: var(--ICPQAMNotificationsButtonImage);
    background-size: 24px 24px;
    width: 48px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPQAMCustomCollumnIconsDisplay);
    filter: var(--ICPQAMMenuSvgColorFilter, none);
}
.quickaccessmenu_TabContentColumn_2z5NL .quickaccessmenu_Tab_1S76C:nth-of-type(2)::before{
    content: "";
    background-image: var(--ICPQAMFriendsButtonImage);
    background-size: 24px 24px;
    width: 48px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPQAMCustomCollumnIconsDisplay);
    filter: var(--ICPQAMMenuSvgColorFilter, none);
}
.quickaccessmenu_TabContentColumn_2z5NL .quickaccessmenu_Tab_1S76C:nth-of-type(3)::before{
    content: "";
    background-image: var(--ICPQAMQuickSettingsButtonImage);
    background-size: 24px 24px;
    width: 48px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPQAMCustomCollumnIconsDisplay);
    filter: var(--ICPQAMMenuSvgColorFilter, none);
}
.quickaccessmenu_TabContentColumn_2z5NL .quickaccessmenu_Tab_1S76C:nth-of-type(4)::before{
    content: "";
    background-image: var(--ICPQAMPerformanceButtonImage);
    background-size: 24px 24px;
    width: 48px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPQAMCustomCollumnIconsDisplay);
    filter: var(--ICPQAMMenuSvgColorFilter, none);
}
.quickaccessmenu_TabContentColumn_2z5NL .quickaccessmenu_Tab_1S76C:nth-of-type(5)::before{
    content: "";
    background-image: var(--ICPQAMHelpButtonImage);
    background-size: 24px 24px;
    width: 48px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPQAMCustomCollumnIconsDisplay);
    filter: var(--ICPQAMMenuSvgColorFilter, none);
}
.quickaccessmenu_TabContentColumn_2z5NL .quickaccessmenu_Tab_1S76C:nth-of-type(6)::before{
    content: "";
    background-image: var(--ICPQAMDeckyButtonImage);
    background-size: 24px 24px;
    width: 48px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPQAMCustomCollumnIconsDisplay);
    filter: var(--ICPQAMMenuSvgColorFilter, none);
}



/* Main Menu SVG Icons*/

.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8 .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z > svg{
    display: var(--ICPMainMenuItemIconsDisplay);
}


.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8:nth-of-type(1) .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z::before{
    content: "";
    background-image: var(--ICPMainMenuItemHomeButtonImage);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPMainMenuCustomItemIconsDisplay);
}

.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8:nth-of-type(2) .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z::before{
    content: "";
    background-image: var(--ICPMainMenuItemLibraryButtonImage);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPMainMenuCustomItemIconsDisplay);
}

.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8:nth-of-type(3) .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z::before{
    content: "";
    background-image: var(--ICPMainMenuItemStoreButtonImage);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPMainMenuCustomItemIconsDisplay);
}

.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8:nth-of-type(4) .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z::before{
    content: "";
    background-image: var(--ICPMainMenuItemFriendsButtonImage);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPMainMenuCustomItemIconsDisplay);
}

.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8:nth-of-type(5) .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z::before{
    content: "";
    background-image: var(--ICPMainMenuItemMediaButtonImage);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPMainMenuCustomItemIconsDisplay);
}

.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8:nth-of-type(6) .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z::before{
    content: "";
    background-image: var(--ICPMainMenuItemDownloadsButtonImage);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPMainMenuCustomItemIconsDisplay);
}

.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8:nth-of-type(7) .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z::before{
    content: "";
    background-image: var(--ICPMainMenuItemSettingsButtonImage);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPMainMenuCustomItemIconsDisplay);
}

.mainmenu_Menu_23IDi .mainmenu_ItemOuter_1BbM8:nth-of-type(8) .mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z::before{
    content: "";
    background-image: var(--ICPMainMenuItemPowerButtonImage);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPMainMenuCustomItemIconsDisplay);
}


/* Header Icons */


.searchbar_SearchIconRight_1Ka4T{
    display: var(--ICPHeaderIconDisplay);
}

.searchbar_SearchContainer_161Tj::after{
    content: "";
    background-image: var(--ICPHeaderSearchBarIconButtonImage);
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--ICPCustomHeaderIconDisplay);
}

