.friend.quickAccessFriend{
    width: auto !important;
}

.favoriteElement.Panel.Focusable.gpfocus.gpfocuswithin{
    background-color: #3d4450;
}

.friend.friendStatusHover.Panel.Focusable.gpfocus.gpfocuswithin{
    background-color: #3d4450;
}

.friendListHeaderContainer.titleBarContainer{
    background-color: transparent;
}

.friendListHeaderContainer::after{
    content: "Friends";
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0px;
    padding-top: 6px;
    padding-left: 16px;
    margin: 0px;
    text-align: left;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Motiva Sans",Helvetica,sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    letter-spacing: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    background: #0e141b;
    z-index: 5;
    box-shadow: 0 0 7px 12px #0e141b;
    position: relative;
}