.lockscreen_Container_3rFFU {
    background: var(--MLSContainerImage) !important;
    background-size:cover !important;
}

/* statusbar background opacity */
.header_Header_1E_SL::before {
    opacity: .5
}
